/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


/* Clearfix */
.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
	margin:0px; padding:30px;
	text-align:center;
	background: black;
	}
	
#content {
	width: 80%;
	height:100%;
	margin:0px auto;
	text-align:left;
	}  
  
h1 {font-family: Georgia; font-size:1.5em; font-weight:bold; padding: 5px;}

h2 {font-family: Georgia; font-size:1.1em;}

h3 {font-family: Georgia; font-size:2em; font-variant:small-caps; text-decoration: none; color:
black; padding: 10px; color:white;}

a {font-family: Georgia; font-size:1em; color: gray; display:block; padding: 3px; 
text-decoration:none; text-indent:10px; }

a:hover {font-style: oblique; color: white}

p {font-family: Georgia; font-size:1em; padding: 10px 5px 10px 5px; color:black; line-height: 115%}

h4 {font-family: Georgia; font-size:0.9em; padding: 15px; color:black; font-style:italic}

#menu-wrapper {
float:left;
width:35%;
background: black;
}

#content-wrapper {
float:right;
width:60%;
background:white;
-moz-border-radius: 25px 10px / 10px 25px;
border-radius: 25px 10px / 10px 25px;
padding-bottom:17px;
}

#project-header img {
float: left;
padding:10px;

#footer-wrapper {
clear: both;
float: right;
}






