

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

<style>

h1 { 
font-family: Georgia;
font-size: 1.6em;
color: #663300;
}

h2 { 
font-family: Georgia;
font-size: 1.2em;
color: #663300;
text-transform: uppercase;
}

a {
text-decoration: none;
font-family: Georgia;
}

p { 
font-size: 1em;
font-family: Georgia;
}

#page h1 {font-size:40px;}

#site-wrapper {
height:123px; background-color:#ECFD3;}


#site-header {
  width:960px;
  position:relative;
  background-color: #FFFFCC;
  height:120px;
}

#site-wrapper h1 {position:absolute;}

#site-header img { 
  display:block;	
  position:absolute;
  top left;
  clear;
}

#top-nav { 
position:absolute;
right:0px;
top:0px;
text-decoration: none;
color: #663300;
}

#menu-wrapper {
height:35px; background-color:#744918}

#main-menu { 
height:30px;
width: 100%;
background-color:#663300;
}

#main-menu ul li {
display:block;
text-transform: uppercase;
float:left; 
padding:0 5px; 
}

#main-menu ul li a {
display:block;
color:white;
padding:5px 5px;
background-color:#663300; }

#page {
float: left;
width:50%;
padding: 10px, 10px, 10px, 10px;
}

#sidebar { 
float: right;
width:25%;
padding: 10px, 10px, 10px, 10px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
	}

.clearfix { display: inline-block; }
  html[xmlns] .clearfix { display: block; }
  * html .clearfix { height: 1%; }


#site-footer {
background-color:#663300;
width: 100%;
left bottom;
}

#footer-contact {
float: right;
}

#footer-follow a{
float: left;
}


</style>

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

